<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Furniture ID</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}">
            <td th:text="${cartItem.id}"></td>
            <td th:text="${cartItem.furnitureId}"></td>
            <td th:text="${cartItem.quantity}"></td>
            <td>
                <form th:action="@{/removeFromCart}" method="post" style="display:inline;">
                    <input type="hidden" name="cartItemId" th:value="${cartItem.id}" />
                    <button type="submit" class="btn btn-outline-danger">supprimer</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/clearCart}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">vider le panier</button>
    </form>
    <a href="/" class="btn btn-primary">Accueil</a>
</div>
</body>
</html>